@import "fonts";


///////////////////////////////////////////
//              COLROS
///////////////////////////////////////////
$coffee: #C0FFEE;
$bad-ass: #BADA55; // which is totally like yellow mellow...
$splash-color: $bad-ass;

///////////////////////////////////////////
//              ICONS
///////////////////////////////////////////





///////////////////////////////////////////
//              IMAGES
///////////////////////////////////////////
$img: "../img/";

$title: $img + "title.png";



///////////////////////////////////////////
//              MIXINS
///////////////////////////////////////////


@mixin three_dots{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


@mixin no_select{
  -webkit-user-select: none;
}


@mixin line_clamp($rows) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


//@mixin disabled{
//	opacity: $disabled-opacity !important; // TODO: WAT?
//	cursor: default !important;
//	pointer-events: none;
//}


@mixin uppercase{
	// nothing fancy I simply always forget the attribute name.
	text-transform: uppercase;
}

