@import "globals";

body {
	background: rgba(255,255,255,.6);
	color: black;
	text-align: center;
}


////////////////////////
// TODO: remove this!
p{
	// deliberately made hideous: so that you'll remove it as you see it!
	padding-top: 65px;
	color: #BADA55;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}
////////////////////////
