@font-face {
  font-family: 'OpenSansLight';
  src: url("../assets/fonts/opensans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../assets/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../assets/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../assets/fonts/opensans-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background: rgba(255, 255, 255, 0.6);
  color: black;
  text-align: center; }

p {
  padding-top: 65px;
  color: #BADA55;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
