<!DOCTYPE html>
<html ng-app="seed-app" ng-csp>
<head>

    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/always-on.css" />

	<!-- Config -->
    <script src="../scripts/common/config.js"></script>
	<script src="../scripts/common/event-bus.js"></script>
    <script src="../scripts/common/framework-base.js"></script>

	<!-- libs & modules -->
    <script src="../scripts/lib/angular.min.js"></script>

    <script src="../scripts/directives/SplashDir.js"></script>

	<!-- Application bootstrap -->
    <script src="../scripts/apps/AlwaysOnApp.js"></script>

	<!-- Services -->

	<!-- Controllers -->
    <script src="../scripts/controllers/AlwaysOnCtrl.js"></script>

	<!-- Directives -->

</head>

<body ng-controller="AlwaysOnCtrl">

	<splash img-url="'/img/icon-splash.png'"></splash>

	<p>Hello ~ Always On!</p>


</body>
</html>