<!DOCTYPE html>
<html ng-app="seed-app" ng-csp>
<head>
	<title></title>

	<link rel="stylesheet" href="../css/general.css"/>
	<link rel="stylesheet" href="../css/full-view.css"/>

	<!-- Config -->
	<script src="../scripts/common/config.js"></script>
	<script src="../scripts/common/event-bus.js"></script>

	<!-- libs & modules -->
	<script src="../scripts/lib/angular.min.js"></script>

	<!-- Application bootstrap -->
	<!--<script src="../scripts/apps/FeedlyApp.js"></script>-->

	<!-- Services -->

	<!-- Controllers -->
	<!--<script src="/js/controllers/MainCtrl.js"></script>-->

	<!-- Directives -->

</head>

<body ng-controller="MainCtrl">

	<p>Hello ~ Full View!</p>

</body>
</html>